
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

    <!-- Page Content -->
<div class="container">
    <div class="row" align="center">
        <div class="col-md-1"></div>
        <div class="col-md-4 divIndex">
            <h2>Online</h2>
            <p>
                O termo software online refere-se a uma nova geração de sistemas disponíveis na Web que permitem a colaboração e o compartilhamento de informações on-line.
                As aplicações desta geração disponibilizam interfaces tão dinâmicas quanto as existentes nas tradicionais aplicações desenvolvidas para desktops. Os sotfwares online (...)
            </p>
            <br />
            <i class="glyphicon glyphicon-globe" style="font-size:8em;"></i>
            <br /><br />
            <button class="btn btn-primary btn-lg btn-block">Veja Agora <i class="glyphicon glyphicon-chevron-right"></i></button>
            <br />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 divIndex">
            <h2>Design Responsivo</h2>
            <p>Com o crescimento da variedade de dispositivos onde os websites são visualizados (laptops, tablets, netbooks, celulares, desktops com tela pequena, iMacs com telas gigantescas, segundo monitor etc.), seria enlouquecedor desenhar múltiplas versões de um mesmo site que suprissem cada uma dessas variações de tamanho de tela (...)</p>
            <br />
            <i class="glyphicon glyphicon-phone" style="font-size:8em;"></i>
            <br /><br />
            <button class="btn btn-primary btn-lg btn-block">Veja Agora <i class="glyphicon glyphicon-chevron-right"></i></button>
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

