<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>OPS! </h1>
    <p>Você não pode excluir uma escola que esteja relacionada a algum dependente ou pessoa do sistema.</p>
    <p>Verifique os associados e dependentes cadastrados.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/Escolas/" role="button">Voltar ao Menu Escolas &raquo;</a>
    </p>
</div>
