@{
    ViewBag.Title = "Aniversariantes";
}

<h2>Aniversariantes do Mês <i class="glyphicon glyphicon-gift" style="font-size:1em;"></i></h2>
<hr />

<div class="col-md-6">
    <p>Associados</p>
    @Html.Action("AssociadosAniversario")
</div>

<div class="col-md-6">
    <p>Dependentes</p>
    @Html.Action("DependentesAniversario")
</div>


