
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SOBRE O PROJETO <i class="glyphicon glyphicon-info-sign" style="font-size:1em;"></i></h2>

<hr />

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>O projeto</h3><p align="justify">Esse projeto foi desenvolvido para a associação do bairro São Francisco de Torres RS. É um projeto de extensão da Ulbra Torres e tem por objetivo manter um cadastro de associados e os seus dependentes, gerar carteiras de associado e emissão de relatórios para gerenciar a associação. O Projeto foi desenvolvido utilizando a metodologia Scrum e as ferramentas ASP.Net MVC, HTML5, JavaScript, C# e Mysql. </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Acadêmico</h3>
            <p>Denner Evaldt Machado</p>
            <small>dnrevaldt@gmail.com</small><br />
            <small>(51) 9703-6676</small>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Prof. Orientador</h3>
            <p>Cassio Huggentobler de Costa</p>
            <small>professor@cassiocosta.pro.br</small><br />
            <small>(51) 8126-3079</small>
        </div>
    </div>
</div>

<div class="col-md-4" align="center">
    <a href="/Home/Sobre"><img class="imagemSobre img-responsive" src="~/Content/Imagens/onsaba.png" /></a>
</div>

<div class="col-md-4" align="center">
    <a href="http://ulbratorres.com.br/" target="_blank"><img class="imagemSobre img-responsive" src="~/Content/Imagens/ulbra.png" /></a>
</div>

<div class="col-md-4" align="center">
    <a href="http://informaticaulbratorres.blogspot.com.br/" target="_blank"><img class="imagemSobre img-responsive" src="~/Content/Imagens/computacao.png" /></a>
</div>

